.landingPage {
    background-image: url('../components/pages/Landing/heroImage.png');
    background-repeat: no-repeat;
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-size: cover;

    div.landingPageCont {
        padding: 3% 7%;
        align-content: center;
        width: 40%;
        text-align: center;

        img {
            width: 150px;
            padding: 10% auto;
        }

        h1 {
            font-family: titleFont;
            color: @c-accent1;
            font-size: 3rem;
            margin: 4% 0;
        }

        p {
            font-family: subHeadFont;
            text-align: center;
            font-stretch: extra-expanded;
        }
    }
}